#HE{font-family: Helvetica, sans-serif;}
#AR{font-family: Arial,  sans-serif;}
#SE{font-family: 'Chokokutai', cursive;
text-shadow: 3px 3px 2px blueviolet;}
#SA{font-family: 'Tsukimi Rounded', sans-serif;}
#CU{font-family: 'Inter', sans-serif;
}
#MO{font-family: monospace;}
#FA{font-family: 'Oswald', sans-serif;}